[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
start = "flask run"
migrate = "flask db migrate"
upgrade = "flask db upgrade"